/* Global Styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;  /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Top Section: Name and Description */
.top-section {
    margin-bottom: 20px;  /* Space between top section and center section */
    z-index: 1; /* Ensures that it is placed above other content */
}

.top-section h1 {
    font-size: 2.5em;  /* Adjust as needed */
    margin: 0;
}

.top-section p {
    font-size: 1.2em;  /* Adjust as needed */
    margin-top: 10px;
}

/* Center Section: GIF */
.center-section {
    margin-top: 50px;  /* Adjust space between description and GIF */
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Add space after GIF */
}

.profile-img {
    width: 200px;  /* Adjust the size as needed */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 10%;  /* Optional: for a circular image */
}

/* Skills Section */
.skills {
    margin-top: 30px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 5px 0;
}

/* Links Section */
.links {
    margin-top: 20px; /* Add some space between the skills and links */
}

.links a {
    color: #00f;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

.links a:hover {
    text-decoration: underline;
}
