/* Global Styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: 150px;  /* You can adjust the size */
    height: auto;  /* GIF's aspect ratio will be maintained */
    border-radius: 50%;
    margin-bottom: 20px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 5px 0;
}

.links a {
    color: #00f;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

.links a:hover {
    text-decoration: underline;
}
